<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://schema.phpunit.de https://schema.phpunit.de/phpunit-10.5.xsd">
    <coverage>
        <report format="clover" target="coverage.xml"/>
    </coverage>

    <testsuites>
        <testsuite name="Application Test Suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
</phpunit>